PORT=
NODE_ENV=
DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
REFRESH_TOKEN_SECRET=
JWKS_URI=
PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
ADMIN_FIRST_NAME=Super
ADMIN_LAST_NAME=Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=
